In [1]:
import requests
import datetime
from rightmove_webscraper import RightmoveData
import numpy as np

In [93]:
url_10_miles = "https://www.rightmove.co.uk/property-to-rent/find.html?locationIdentifier=REGION%5E61224&maxBedrooms=2&minBedrooms=2&maxPrice=1500&minPrice=1000&radius=10.0&propertyTypes=&includeLetAgreed=false&mustHave=&dontShow=houseShare&furnishTypes=partFurnished%2Cfurnished&letType=longTerm&keywords="

In [94]:
rightmove_10miles = RightmoveData(url_10_miles)

In [95]:
rightmove_10miles.summary()

   number_bedrooms  count         mean
0                2    972  1381.195473

In [139]:
flatsWithin10Miles = rightmove_10miles.get_results

In [135]:
def google_maps_query(origin, destination, mode, api_key):
    url = "https://maps.googleapis.com/maps/api/distancematrix/json?"

    params = {"key" : api_key, 
             "origins" : origin,
              "destinations" : destination,
             "departure_time" : int(datetime.datetime(2021, 9, 2, 9, 0, 0, 0).timestamp()),
             "mode" : mode,
             "units" : "metric"}
    payload={}
    headers = {}
    response = requests.request("GET", url, headers=headers, data=payload, params=params)
    return response
    
    
def get_commute_times(origin, destination, api_key):
    times = {"distance" : np.nan, "transit" : np.nan, "bicycling" : np.nan, "walking" : np.nan}
    
    for mode in ["transit", "bicycling", "walking"]:
        response = google_maps_query(origin, destination, mode)
        if response.status_code == 200:
            response_json = response.json()
            if len(response_json["rows"]) != 1:
                print("wrong number of rows!")
            try:
                times[mode] = response_json["rows"][0]["elements"][0]["duration"]["value"]
                times["distance"] = response_json["rows"][0]["elements"][0]["distance"]["value"]
            except:
                print("Error!")
                
    return times
           
get_commute_times("Hill House, Defence Close, SE28", "UCL Main Campus, London")
# resp = google_maps_query("Hill House, Defence Close, SE28", "UCL Main Campus, London", "walking")

{'distance': 18221, 'transit': 4418, 'bicycling': 4451, 'walking': 13756}

In [148]:
transit = np.empty((len(flatsWithin10Miles),))
transit[:] = np.nan
bicycling = np.empty((len(flatsWithin10Miles),))
bicycling[:] = np.nan
walking = np.empty((len(flatsWithin10Miles),))
walking[:] = np.nan
distance = np.empty((len(flatsWithin10Miles),))
distance[:] = np.nan

In [151]:
for idx, row in flatsWithin10Miles.iterrows():
    origin = row["address"]
    
    commute_times = get_commute_times(origin, "UCL Main Campus, London")
    transit[idx] = commute_times["transit"]
    bicycling[idx] = commute_times["bicycling"]
    walking[idx] = commute_times["walking"]
    distance[idx] = commute_times["distance"]

Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!
Error!

In [152]:
flatsWithin10MilestsWithin10MiletransitsflatsWithin10Milesnsit"] = transit
flatsWithin10Miles["bicycling"] = bicycling
flatsWithin10Miles["walking"] = walking
flatsWithin10Miles["distance"] = distance

In [154]:
flatsWithin10Miles

,price,type,address,url,agent_url,postcode,number_bedrooms,search_date,transit,bicycling,walking,distance
0,1350,2 bedroom flat,"Hill House, Defence Close, SE28",http://www.rightmove.co.uk/properties/81568983...,http://www.rightmove.co.uk/estate-agents/agent...,SE28,2,2021-09-01 10:09:41.647881,4418.0,4451.0,13756.0,18221.0
1,1250,2 bedroom detached house,"Hampstead Close, Thamesmead",http://www.rightmove.co.uk/properties/11274937...,http://www.rightmove.co.uk/estate-agents/agent...,NaN,2,2021-09-01 10:09:41.647881,4348.0,4905.0,16070.0,21302.0
2,1300,2 bedroom semi-detached house,"Bensham Manor Road, Thornton Heath, CR7",http://www.rightmove.co.uk/properties/11274889...,http://www.rightmove.co.uk/estate-agents/agent...,CR7,2,2021-09-01 10:09:41.647881,3030.0,3423.0,12407.0,16567.0
3,1325,2 bedroom flat,"Croydon Road, London, SE20",http://www.rightmove.co.uk/properties/11274883...,http://www.rightmove.co.uk/estate-agents/agent...,SE20,2,2021-09-01 10:09:41.647881,4075.0,4047.0,11701.0,15597.0
4,1400,2 bedroom apartment,"South Norwood Hill, London",http://www.rightmove.co.uk/properties/11274875...,http://www.rightmove.co.uk/estate-agents/agent...,NaN,2,2021-09-01 10:09:41.647881,3233.0,3536.0,11699.0,15601.0
...,...,...,...,...,...,...,...,...,...,...,...,...
967,1447,2 bedroom apartment,"Rivington Court, Longstone Avenue, Harlesden, ...",http://www.rightmove.co.uk/properties/80796827...,http://www.rightmove.co.uk/estate-agents/agent...,NW10,2,2021-09-01 10:09:41.647881,3033.0,2321.0,6390.0,8543.0
968,1400,2 bedroom apartment,"Garganey Court, Elgar Avenue, Neasden, NW10 8PQ",http://www.rightmove.co.uk/properties/79668866...,http://www.rightmove.co.uk/estate-agents/agent...,NW10,2,2021-09-01 10:09:41.647881,3373.0,3003.0,8182.0,10911.0
969,1473,2 bedroom flat,"Ambleside Road, Harlesden, NW10 3UJ",http://www.rightmove.co.uk/properties/59976522...,http://www.rightmove.co.uk/estate-agents/agent...,NW10,2,2021-09-01 10:09:41.647881,3513.0,2537.0,7114.0,9498.0
970,1500,2 bedroom flat,"Waldo Road, College Park",http://www.rightmove.co.uk/properties/10709675...,http://www.rightmove.co.uk/estate-agents/agent...,NaN,2,2021-09-01 10:09:41.647881,NaN,NaN,NaN,NaN
971,1350,2 bedroom flat,"Barrington Court, Colney Hatch Lane, Muswell H...",http://www.rightmove.co.uk/properties/11241712...,http://www.rightmove.co.uk/estate-agents/agent...,NaN,2,2021-09-01 10:09:41.647881,2514.0,2042.0,6693.0,9067.0

In [153]:
flatsWithin10MilesWithin10Miles.to_csv("flatsWithin10KmsFromCity.csv")